<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>選擇學生</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>選擇學生</h1>
        <form action="/student_grades" method="post">
            <div class="form-group">
                <label for="student">選擇學生:</label>
                <select class="form-control" id="student" name="student_id">
                    {% for student in students %}
                    <option value="{{ student.id }}">{{ student.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">查看成績</button>
            <p><a href="/dashboard_admin">返回</a></p>

        </form>
    </div>
</body>
</html>
